<h1>INTRODUCTION TO PYTHON</h1>
<h2>User inputs</h2>

In [14]:
print('This is my first line')

This is my first line

In [15]:
print('This is my first line\nThis is my second line')

This is my first line
This is my second line

## Data types
<ol>
    <li><b>String</b> - A collection of letters, characters and numbers mixed together</li>
    <li><b>Integer</b> - A whole number</li>
    <li><b>Float</b> - A decimal</li>
    <li><b>Boolean</b> - It is a selection between two options</li>
</ol>

<h2>Variables</h2>
<p>Variables are temporary storage locations for various values</p>

In [ ]:
#String
name = 'Timothy'
name

In [ ]:
#Integer
number = 25
number

In [ ]:
#Float
decimal = 37.5
decimal

In [ ]:
#Boolean
x = True
x

<p>The function below is used to identify the type of data that is inserted into a variable:</p>

In [17]:
type(name)

str

In [18]:
type('Catherine')

str

In [19]:
type(922022)

int

In [20]:
type('922022')

str

In [21]:
type(9220.22)

float

In [22]:
type('9220.22')

str

## Concatenation

<p>Concatenation is joining two or more items together to form merged item</p>

In [23]:
name

'Timothy'

In [24]:
age = 18

In [25]:
height = '1.6'

In [26]:
weight = 52.555

In [27]:
type(height)

str

In [28]:
print(name + ' is my friend')

Timothy is my friend

In [29]:
print(name + ' is ' + height + 'm tall')

Timothy is 1.6m tall

In [30]:
print(name + ' is ' + str(age) +' years old')

Timothy is 18 years old

In [31]:
type(age)

int

In [32]:
print(name + ' is ' + str(weight) + 'kg')

Timothy is 52.555kg

In [33]:
type(weight)

float

## String Operations

In [34]:
name

'Timothy'

In [35]:
name[0]

'T'

In [36]:
name[2]

'm'

In [37]:
name.upper()

'TIMOTHY'

In [38]:
name.lower()

'timothy'

In [39]:
name

'Timothy'

In [40]:
name.isupper()

False

In [41]:
her_name = 'JANE'

In [42]:
her_name.isupper()

True

In [43]:
type(name)

str

In [44]:
len(name)

7

In [45]:
#This is a Python comment
#One was added to make it become readable to a normal human
name.index('h') + 1

6

In [46]:
statement = 'king'

In [47]:
statement.replace('k', 'd')

'ding'

## Mathematical operations
<p>Data types</p>

In [48]:
type(name.index('h'))

int

<p>The first line in the cell below picks up a string but the second picks up an integer:</p>

In [49]:
avg_cost = '50'
avg_cost2 = 50

<p>Addition can be done to a variable to another value:</p>

In [50]:
avg_cost2 + 50

100

<p>In order to concatenate other values with integers, they have to be converted to the string data type:</p>

In [51]:
avg_cost + str(50)

'5050'

<p>Mathematical operations can be carried out on cells as shown below:</p>

In [52]:
34 + 29

63

In [53]:
432135 / 5

86427.0

In [54]:
32 - 12

20

In [55]:
20 * 23

460

In [56]:
13/4

3.25

<p>Modular values are obtained using the <b>percentage</b> sign:</p>

In [57]:
13%4

1

In [58]:
20%7

6

In [59]:
x = -35

In [60]:
x

-35

<p>Negative values have the ability of taking up the integer data type:</p>

In [61]:
type(x)

int

<p>The <b>abs</b> parameter is used to drop the negative value of a variable:</p>

In [62]:
y = abs(x)

In [63]:
y

35

In [64]:
type(y)

int

<p>The <b>max</b> function finds the highest number in a set:</p>

In [65]:
max((23,53,88,35))

88

<p>The <b>min</b> function finds the lowest number in a set:</p>

In [66]:
min((23,53,88,35))

23

In [67]:
weight

52.555

<p>The <b>round</b> rounds values to a specified number of decimal places</p>

In [68]:
round(weight, 1)

52.6

In [69]:
round(weight)

53

<p>The <b>bin</b> function converts integers to binary:</p>

In [70]:
#Values are converted to zeros and ones for processing in computers
bin(45)

'0b101101'

<p>The procedure below is used to calculate the square root of a number::</p>

In [71]:
from math import sqrt

In [72]:
sqrt(10000)

100.0

In [73]:
import math

In [74]:
#An asterik is used to represent 'all'
from math import *

In [75]:
sqrt(10000)

100.0

## Project

<p>1. Create a sentence and store it in a variable</p>
<p>2. Output the sentence</p>
<p>3. Make a user to provide an input of the word to replace</p>
<p>4. Make a user to provide an input of the word to replace it with</p>
<p>5. Output the new sentence</p>

In [76]:
sentence  = 'I am a trainer'

In [77]:
sentence

'I am a trainer'

In [78]:
word1 = input('Please enter the word you want to replace: ')

Please enter the word you want to replace: trainer

In [79]:
word1

'trainer'

In [80]:
word2 = input('Please enter the word you want to replace ' + word1 + ' with: ')

Please enter the word you want to replace trainer with: professional

In [81]:
word1

'trainer'

In [82]:
word2

'professional'

In [83]:
print(sentence.replace(word1, word2))

I am a professional

In [84]:
name = input('Please enter your name\n')

Please enter your name
Kevin

In [85]:
print(name)

Kevin

In [86]:
type(name)

str

In [87]:
age = int(input('Please enter your age '))

Please enter your age 35

In [88]:
age

35

In [89]:
type(age)

int